.container{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.minesweeper--wrapper{
  width: 288px;
  display: flex;
  //justify-content: center;
  //align-items: center;
  //border: 1px solid black;
  //gap: 10px;
  flex-wrap: wrap;
}

.popup--game-result{
  display: flex;
  flex-direction: column;
  //justify-content: center;
  align-items: center;
  color: orange;
  z-index: 1;
  text-transform: uppercase;

}

.input{
  padding: 10px 20px;
  width: 100px;
  font-weight: bold;
  font-size: 20px;
}
